.menuWrap {
    background: #282828;
    height: calc(100vh - 30px);
    width: 17.5%;
    min-width: 200px;
    position: fixed;
    left: 0;
    border-top: 1px solid var(--color-selected-menu);
    margin-top: 1px;
    overflow-y: scroll;
    padding-bottom: 20px;
    /*padding-right: 5px;*/
    /*border-right: 1px solid lightgrey;*/
}
.menuWrap::-webkit-scrollbar {
    width: 1px;
    background-color: var(--color-selected-menu);
}

.menuWrap:hover::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    height: 10px;
}





.button {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0px;
}

.addNotebook {
    position: absolute;
    top: 0;
    left: 47px;
}

.tempNotebook {
    padding: 24px;
    cursor: pointer;
    color: #B3B0AD;
}

.tempNotebook:hover {
    color: var(--color-primary);
}

.tempNotebook input {
    width: 150px;
    border: none;
    outline: none!important;
    margin-left: 15px;
}
