.menuWrap {
    background: #fff;
    height: 100vh;
    padding-top: 50px;
    width: 17.5%;
    min-width: 200px;
    position: fixed;
    left: 0;
}

.button {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0px;
}

.addNotebook {
    position: absolute;
    top: 0;
    left: 47px;
}

.tempNotebook {
    padding: 24px;
    cursor: pointer;
    color: var(--color-lightgray);
}

.tempNotebook:hover {
    color: var(--color-primary);
}

.tempNotebook input {
    width: 150px;
    border: none;
    outline: none!important;
    margin-left: 15px;
}