.mainWrap {
    display: flex;
    height: calc(100vh - 30px);
    min-width: 150px;
    position: fixed;
    left: 0;
    top: 47px;
    border-right: 1px solid var(--color-selected-menu);
}

.menuWrap {
    background: #282828;
    border-top: 1px solid var(--color-selected-menu);
    overflow-y: scroll;

}
.menuWrap::-webkit-scrollbar {
    width: 1px;
    background-color: var(--color-selected-menu);
}

.menuWrap:hover::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    height: 10px;
}

.button {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0px;
}

.addNotebook {
    position: absolute;
    top: 0;
    left: 47px;
}

.tempNotebook {
    padding: 24px;
    cursor: pointer;
    color: #B3B0AD;
}

.tempNotebook:hover {
    color: var(--color-primary);
}

.tempNotebook input {
    width: 150px;
    border: none;
    outline: none!important;
    margin-left: 15px;
}

.Pages {
    background: var(--color-background-light);
    border-top: 1px solid var(--color-selected-menu);
    min-width: 200px;
}