.wrap {
    background: #1F1F1F;
    padding: 50px 100px 0px 100px;
    width: 100%;
}

.header, .header input {
    font-size: 25px;
    border-bottom: 1px solid var(--color-selected-menu);
    margin-bottom: 10px;
}

.header input {
    border: none;
    outline: none;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #fff;
    font-weight: 500;
    font-size: 1.5em;
    width: 100%;
    background: #1F1F1F;
}

.toolbar .logo {
    color: #fff;
    margin-right: auto;
    padding-left: 10px;
    text-transform: uppercase;
}

.wrap textarea {
    width: 100%;
    height: 71.7vh;
    border: none;
    outline: none;
    background: #1F1F1F;
    color: #fff;
}

.date {
    color: var(--color-lightgray);
    font-size: 12px;
}
