.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
}

.wrap svg {
    font-size: 100px;
    color: #1890FF;
}

.wrap h2 {
    font-weight: lighter;
    margin-top: 10px;
    color: var(--color-white);
}